.nav a {
  color: #100000;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(dota2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #ffff00;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.Neighborhood-guides {
    background-color:#0066ff;
    border-bottom:1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color:#000000;
    font-size:24px;
}

.neighborhood-guides p {
    color:#000000;
    font-size:15px;
    margin-bottom:13px;
}




